extends ./layout.jade
block js
  script(src='/app/bookmarks.js')
  script(src='/libs/fancybox.js')
  script.
    $(document).ready(function(){
        $("body").tooltip({ selector: '[rel=tooltip]' });
    });
block body
  body(ng-controller='bookmarksController')
    include ./navmenu.jade
    div(growl)
    .container
      p
      h3(style='\
      margin-top: 0px;\
      margin-bottom: 15px;') Bookmarks
      .panel-group
        .panel.panel-default(data-ng-repeat='bookmark in bookmarks')
          .panel-heading
            .row
              table(style='width: 100%')
                tr
                  td(align='left')
                    .col-md-12(style="padding-right: 0px;")
                      .image-cropper-30
                        a.fancybox(ng-if='bookmark.listId.image' class="fancybox" rel="{{bookmark.listId._id}}" ng-href="{{bookmark.listId.image}}" ng-attr-title="{{bookmark.listId.title}}")
                          img.img-round.rounded(ng-if='bookmark.listId.image', ng-src='{{getThumbnails(bookmark.listId.image, 50)}}' style='width:30px')
                        img.img-round.rounded(ng-if='!bookmark.listId.image', src='http://dummyimage.com/70x70/5e5e5e/ffffff.png' style='width:30px') 
                  td(align='left' style='width: 100%')
                    .col-md-12
                      a.listTitle(data-toggle='collapse', href='#collapse{{bookmark.listId._id}}') {{ bookmark.listId.title }}
                  td(align='right')
                    .col-md-12
                      table
                        tr
                          td
                            a(href='/users/profile/{{bookmark.listId.userId._id}}' rel='tooltip' title='{{bookmark.listId.userId.name}}')
                              img.img-circle(width='25px', ng-src='http://graph.facebook.com/{{bookmark.listId.userId.facebookId}}/picture?type=square')
                          td &nbsp;
                          td &nbsp;
                          td(style='white-space:nowrap')
                            a.listLink(href='/lists/preview/{{bookmark.listId._id}}' target='_blank' rel='tooltip' title='Share') 
                              span.glyphicon.glyphicon-share-alt
                          td &nbsp;
                          td &nbsp;
                          td(style='white-space:nowrap')
                            a.listLink(data-ng-click='deleteBookmark(bookmark._id)' href='javascript:;' rel='tooltip' title='Delete')
                              span.glyphicon.glyphicon-remove
          .panel-collapse.collapse(id='collapse{{bookmark.listId._id}}')
            .panel.panel-default
              .panel-body
                div(ng-if='bookmark.listId.description != null')
                  table
                    tr
                      td(style='min-width:70px')
                        .show-image
                          .image-cropper-100
                            a.fancybox(ng-if='bookmark.listId.image' class="fancybox" rel="{{bookmark.listId._id}}" ng-href="{{bookmark.listId.image}}" ng-attr-title="{{bookmark.listId.title}}")
                              img.img-round.rounded(ng-if='bookmark.listId.image', ng-src='{{getThumbnails(bookmark.listId.image, 100)}}' style='width:70px')
                            img.img-round.rounded(ng-if='!bookmark.listId.image', src='http://dummyimage.com/70x70/5e5e5e/ffffff.png' style='width:70px') 
                      td(style='padding-left: 10px; width: 100%')
                          .div(markdown text="bookmark.listId.description")
                  .top5
                    ul.list-group(style='margin-bottom: 0px;')
                      li.list-group-item(data-ng-repeat="item in bookmark.listId.items | orderBy: 'orderId'")
                        strong.list-group-item-heading.strongSt
                          table
                            tr
                              td(width='100%', align='left')
                                | {{item.title}}
                              td &nbsp;
                              td &nbsp;
                              td
                                div(ng-if='item.locationName')
                                    a.listLink(href='http://maps.google.com/maps?q=loc:{{item.location[1]}},{{item.location[0]}}&z=15', target='_blank' rel='tooltip' title='Open location')
                                      span.glyphicon.glyphicon-map-marker
                              td(ng-if='item.locationName') &nbsp;
                              td(ng-if='item.locationName') &nbsp;
                              td
                                div(ng-if='item.url')
                                  a.listLink(href='{{item.url}}', target='_blank' rel='tooltip' title='Open url') 
                                    span.glyphicon.glyphicon-link
                        list-group-item-text
                          table
                            tr
                              td(align='left', nowrap)
                                span(style="color: #B7B7B7;")
                                  i.fa.fa-hashtag 
                                em(style='font-weight: bold; color: #B7B7B7;'){{item.orderId+1}}
                                &nbsp;
                                &nbsp;
                              td(style='min-width:50px; vertical-align: top;')
                                .show-image
                                  .image-cropper-70
                                    a.fancybox(ng-if='item.image' class="fancybox" rel="{{bookmark.listId._id}}" ng-href="{{item.image}}" ng-attr-title="{{item.title}}")
                                      img.img-round.rounded(ng-if='item.image', ng-src='{{getThumbnails(item.image, 70)}}' style='width:50px;')
                                    img.img-round.rounded(ng-if='!item.image', src='http://dummyimage.com/50x50/5e5e5e/ffffff.png' style='width:50px;') 
                              td(style='vertical-align: top; padding-left: 10px;')
                                .div(markdown text="item.description")
            .panel-footer
              table(width='100%')
                tr
                  td(width='4%')
                    span.glyphicon.glyphicon-tags  
                  td(width='100%')
                    tags-input(ng-model='bookmark.listId.ngTags', ng-disabled='true', maxtags='4', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      .loader(data-loading='') Loading...
    include ./footer.jade
