footer.footer
  .container
    p.text-muted
      table(style='width: 100%')
        tr
          td.text-muted(style='text-align: left; width: 100%')
            | Powered by 
            a(href='https://github.com/aershov24', target='_blank') Alex Ershov
            | , 2015-2016
          td.text-muted(style='text-align: right;')
            a(href='mailto:aershov24@gmail.com') Contacts