extends ./layout.jade

block js
  script(src='/libs/fileUpload.js')
  script(src='/libs/cloudinary.js')
  script(src='/libs/fancybox.js')
  script(src='/app/lists.js')
  script.
    $(document).ready(function(){
        $("body").tooltip({ selector: '[rel=tooltip]' });
    });
  script#popoverImgItem(type='text/ng-template').
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      <input type="text" ng-model="item.image" placeholder="Post image URL here"/>
      <table>
      <tr>
        <td>
          <div style="padding-top: 10px; padding-bottom: 10px;" class="image-cropper-70">
            <img ng-if="item.image" ng-src="{{item.image}}" style="width:50px" class="img-round rounded"/>
            <img ng-if="!item.image" src="http://dummyimage.com/70x70/5e5e5e/ffffff.png" style="width:50px" class="img-round rounded"/>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td style="padding-left: 20px;" align="right">
            <a data-ng-click="savePopoverItemImage(item)" class="listLink" rel="tooltip" title="Save"><span class="glyphicon glyphicon-ok"></span></a>
        </td>
        <td>
          &nbsp;
        </td>
        <td align="right">
            <a data-ng-click="hidePopover()" class="listLink" rel="tooltip" title="Cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
      </tr>
      </table>
    </div>
  script#popoverImgList(type='text/ng-template').
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      <input ng-model="list.image" placeholder="Post image URL here"/>
      <table>
      <tr>
        <td>
          <div style="padding-top: 10px; padding-bottom: 10px; " class="image-cropper-70">
            <img ng-if="list.image" ng-src="{{list.image}}" style="width:50px" class="img-round rounded"/>
            <img ng-if="!list.image" src="http://dummyimage.com/70x70/5e5e5e/ffffff.png" style="width:50px" class="img-round rounded"/>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td style="padding-left: 20px;">
            <a data-ng-click="savePopoverListImage(list)" class="listLink" rel="tooltip" title="Save"><span class="glyphicon glyphicon-ok"></span></a>
        </td>
        <td>
          &nbsp;
        </td>
        <td>
            <a data-ng-click="hidePopover()" class="listLink" rel="tooltip" title="Cancel"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
      </tr>
      </table>
    </div>
  script#popoverUrlItem(type='text/ng-template').
    <div class="triangle"></div>
    <div class="ns-popover-tooltip">
      <input ng-model="item.url" placeholder="Post item URL here"/>
      <table>
      <tr>
        <td>
          <a ng-if="item.url" href="{{item.url}}" target="_blank" rel="tooltip" title="Open url" class="listLink"> 
            <span class="glyphicon glyphicon-share-alt"></span>
          </a>
        </td>
        <td>
          &nbsp;
        </td>
        <td align="right">
            <a data-ng-click="savePopoverItemUrl(item)" class="listLink" rel="tooltip" title="Save">
            <span class="glyphicon glyphicon-ok"></span></a>
        </td>
        <td>
          &nbsp;
        </td>
        <td align="right">
            <a data-ng-click="hidePopover()" class="listLink" rel="tooltip" title="Cancel">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
      </tr>
      </table>
    </div>
block body
  body(ng-controller='quokkaController')
    include ./navmenu.jade
    div(growl)
    .container
      p
        table(width='100%')
          tr
            td(valign='bottom')
              h3(style='\
              margin-top: 0px;\
              margin-bottom: 0px;') My Recommendations
            td(align='right')
              button.kc_fab_main_btn(data-ng-click='openAddList()', data-toggle='modal', data-target='#addListForm') +
              //button.btn.btn-success.btn-sm(type='submit', data-ng-click='openAddList()', data-toggle='modal', data-target='#addListForm') Add 
                i.fa.fa-thumbs-up
      .panel-group
        .panel.panel-default(data-ng-repeat='list in lists')
          .panel-heading
              table(style='width: 100%')
                tr
                  td(align='left')
                    .image-cropper-30
                      a.fancybox(ng-if='list.image' class="fancybox" rel="{{list._id}}" ng-href="{{list.image}}" ng-attr-title="{{list.title}}")
                        img.img-round.rounded(ng-if='list.image', ng-src='{{getThumbnails(list.image, 50)}}' style='width:30px')
                      img.img-round.rounded(ng-if='!list.image', src='http://dummyimage.com/70x70/5e5e5e/ffffff.png' style='width:30px') 
                  td(align='left', style='width: 100%; padding-left: 10px;')
                    a.listTitle(data-toggle='collapse', data-ng-hide='list.editMode', href='#collapse{{list._id}}') {{ list.title }}
                    br(ng-if='list.tags')
                    a(data-ng-repeat="tag in list.tags", style="margin-right: 3px; margin-top: 5px; float: left;" ng-click='tagNameClicked(tag)').label.label-tag {{tag}}
                  td(align='right')
                    table
                      tr
                        td
                          a(href='' title="Publish", rel='tooltip', ng-click='listPublishUpdate(list)')
                            input.js-switch(type='checkbox', ui-switch="{size: 'small'}", checked='', ng-model='list.published')
                        td &nbsp;
                        td &nbsp;
                        td
                          a.listLink(href='/lists/preview/{{ list._id }}', data-ng-click='share(list);', target='_blank', title="Preview", rel='tooltip')
                            span.glyphicon.glyphicon-share-alt
                        td &nbsp;
                        td &nbsp;
                        td
                          a.listLink(data-ng-click='openEditList(list)', data-toggle='modal', data-target='#editListForm', title='Edit list' rel='tooltip')
                            span.glyphicon.glyphicon-pencil
                        td &nbsp;
                        td &nbsp;
                        td
                          a.listLink(data-toggle='collapse', href='#collapse{{list._id}}', title='Show items' rel='tooltip')
                            //span.glyphicon.glyphicon-tasks
                            i.fa.fa-list-ul
          .panel-collapse.collapse(id='collapse{{list._id}}')
            .panel.panel-default
              .panel-body(style='padding-bottom: 5px; padding-top: 5px;')
                table(style='width: 100%')
                  tr
                    td(style='min-width:70px')
                      .show-image
                        .image-cropper-100
                          a.fancybox(ng-if='list.image' class="fancybox" rel="{{list._id}}" ng-href="{{list.image}}" ng-attr-title="{{list.title}}")
                            img.img-round.rounded(ng-if='list.image', ng-src='{{getThumbnails(list.image, 100)}}' style='width:70px')
                          img.img-round.rounded(ng-if='!list.image', src='http://dummyimage.com/70x70/5e5e5e/ffffff.png' style='width:70px') 
                        //a.url(href="#", ns-popover='', ns-popover-template='popoverImgList', ns-popover-theme='ns-popover-tooltip-theme', ns-popover-trigger='click', ns-popover-placement='bottom|left', ns-popover-hide-on-inside-click='false',
                        //ns-popover-timeout='-1', rel='tooltip', title='Image Url') 
                          span.glyphicon.glyphicon-globe
                        a.update(href="#" ngf-select='inlineUpload(list, $file)' ngf-max-size="20MB" rel='tooltip' title='Upload image') 
                          span.glyphicon.glyphicon-cloud-upload
                        a.delete(href="#" ng-click='removeImage(list)' rel='tooltip' title='Remove image') 
                          span.glyphicon.glyphicon-remove
                        .progress(ng-if='showProgress[list._id]')
                          .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', progressbar='', total='myTotal[list._id]', current='myCurrent[list._id]')
                    td(style='padding-left: 10px; width: 100%')
                      .div(inline-description-edit="list.description" on-save="updateInlineListDescription(list, list.description)" on-cancel="cancelEdit()")
                .panel-body(style='padding-top: 0px; padding-bottom: 5px;')
                .top5
                  ul.list-group(ng-sortable='sortConfig', style='margin-bottom: 0px;')
                    li.list-group-item(data-ng-repeat="item in list.items | orderBy: 'orderId'" style='padding-top: 5px; padding-bottom: 5px;')
                      table
                        tr
                          td(align='left', nowrap)
                            span.my-handle
                              i.fa.fa-hashtag 
                            em(style='font-weight: bold; color: #B7B7B7;'){{item.orderId+1}}
                            &nbsp;
                            &nbsp;
                          td(width='100%', align='left')
                            strong.list-group-item-heading
                              table(style='width: 100%')
                                tr
                                  td(style='width: 100%')
                                    .div(inline-title-edit="item.title" on-save="updateInlineItemTitle(item, item.title)" on-cancel="cancelEdit()")
                                  td &nbsp;
                                  td &nbsp;
                                  td
                                    div(ng-if='item.locationName')
                                        a.listLink(href='http://maps.google.com/maps?q=loc:{{item.location[1]}},{{item.location[0]}}&z=15', target='_blank' rel='tooltip' title='Open location')
                                          span.glyphicon.glyphicon-map-marker
                                  td(ng-if='item.locationName') &nbsp;
                                  td(ng-if='item.locationName') &nbsp;
                                  td
                                    //div(ng-if='item.url')
                                      a.listLink(href='{{item.url}}', target='_blank' rel='tooltip' title='Open url') 
                                        span.glyphicon.glyphicon-link
                                    a.listLink(href="#", ns-popover='', ns-popover-template='popoverUrlItem', ns-popover-theme='ns-popover-tooltip-theme', ns-popover-trigger='click', ns-popover-placement='bottom|right', ns-popover-hide-on-inside-click='false', ns-popover-timeout='-1', rel='tooltip', title='Item Url') 
                                      span.glyphicon.glyphicon-link
                                  td &nbsp;
                                  td &nbsp;
                                  td
                                    a.listLink(data-ng-click='openEditListItem(list)', data-toggle='modal', rel='tooltip' title='Edit' data-target='#editListItemForm')
                                      span.glyphicon.glyphicon-pencil
                                  td &nbsp;
                                  td &nbsp;
                                  td
                                    a.listLink(data-ng-click='deleteListItem(item._id)' rel='tooltip' title='Delete')
                                      span.glyphicon.glyphicon-remove
                            .list-group-item-text(style='padding-top: 5px;')
                              table(style='width: 100%')
                                tr
                                  td(style='min-width:50px; vertical-align: top;')
                                    .show-image
                                      .image-cropper-70
                                        a.fancybox(ng-if='item.image' class="fancybox" rel="{{list._id}}" ng-href="{{item.image}}" ng-attr-title="{{item.title}}")
                                          img.img-round.rounded(ng-if='item.image', ng-src='{{getThumbnails(item.image, 70)}}' style='width:50px;')
                                        img.img-round.rounded(ng-if='!item.image', src='http://dummyimage.com/50x50/5e5e5e/ffffff.png' style='width:50px;')
                                      //a.url(href="#", ns-popover='', ns-popover-template='popoverImgItem', ns-popover-theme='ns-popover-tooltip-theme', ns-popover-trigger='click', ns-popover-placement='bottom|left', ns-popover-hide-on-inside-click='false', ns-popover-timeout='-1' rel='tooltip' title='Image Url') 
                                        span.glyphicon.glyphicon-globe
                                      a.update(href="#" ngf-select='inlineItemUpload(item, $file)' ngf-max-size="20MB" rel='tooltip' title='Upload image') 
                                        span.glyphicon.glyphicon-cloud-upload
                                      a.delete(href="#" ng-click='removeItemImage(item)' rel='tooltip' title='Delete image') 
                                        span.glyphicon.glyphicon-remove
                                      .progress(ng-if='showProgress[item._id]')
                                        .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', progressbar='', total='myTotal[item._id]', current='myCurrent[item._id]')
                                  td(style='vertical-align: top; width: 100%; padding-left: 10px;')
                                    .div(inline-description-edit="item.description" on-save="updateInlineItemDescription(item, item.description)" on-cancel="cancelEdit()")
                #list-form.row
                .col-sm-12(style='padding-left: 0px; padding-right: 0px; padding-top: 7px; padding-bottom: 3px;')
                  form(name='addItem', role='form', novalidate='')
                    table(width='100%', valign='top')
                      tr
                        td(width='100%')
                          input.form-control.newItem.input-md(name='title', type='text', placeholder='New item', ng-model='newListItem.title', ng-minlength='4', ng-maxlength='50', required='')
                          small.error(ng-show='addItem.title.$error.minlength && addItem.title.$dirty')
                            | Title is required to be at least 4 characters
                          small.error(ng-show='addItem.title.$error.maxlength && addItem.title.$dirty')
                            | Title cannot be longer than 50 characters
                        td(align='right', style='vertical-align:top; padding-left: 10px;')
                          button.btn.btn-success.btn-sm(ng-disabled='addItem.$invalid', type='submit', ng-click='createListItem(list)') Add Item
            .panel-footer
              table(width='100%')
                tr
                  td(width='3%')
                    span.glyphicon.glyphicon-tags  
                  td
                    tags-input(placeholder=' ', ng-model='list.ngTags', maxtags='4', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)', on-tag-clicked='tagClicked($tag)')
                  //td(align='right' width='3%' style="padding-left: 10px;")
                    button.btn.btn-danger.btn-sm(data-ng-click='deleteList(list._id)' rel='tooltip' title='Delete Recommendation') 
                      span.glyphicon.glyphicon-trash
      .loader(data-loading='') Loading...
      // Add List Modal
      #addListForm.modal.fade(role='dialog', my-modal='')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Add Recommendation
            .modal-body
              form(name='addListForm', role='form', novalidate='')
                .form-group
                  // NAME
                  input.form-control.input-md(name='title', type='text', placeholder='Title', data-ng-model='formData.title', ng-minlength='4', ng-maxlength='50', required='')
                  small.error(ng-show='addListForm.title.$dirty && addListForm.title.$error.required')
                    | Title is required.
                  small.error(ng-show='addListForm.title.$error.minlength')
                    | Title is required to be at least 4 characters
                  small.error(ng-show='addListForm.title.$error.maxlength')
                    | Title cannot be longer than 50 characters
                .form-group
                  textarea#comment.form-control(name='description', rows='2', data-ng-model='formData.description', placeholder='Description', ng-maxlength='500')
                  small.error(ng-show='addListForm.description.$error.maxlength')
                    | Description cannot be longer than 500 characters
            .modal-footer
              table(width='100%')
                tr
                  td(align='right', width='100%')
                    button.btn.btn-success.btn-sm(type='submit', data-dismiss='modal', ng-disabled='addListForm.$invalid', ng-click='createList()') Add
                  td(align='right', style='padding-left: 10px;')
                    button.btn.btn-default.btn-sm(type='button', data-dismiss='modal', ng-click='closeList()') Cancel
      // Edit List Modal
      #editListForm.modal.fade(role='dialog', my-modal='')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Edit Recommendation
            .modal-body
              form(name='editListForm', role='form', novalidate='')
                .form-group
                  // NAME
                  input.form-control.input-md(name='title', type='text', placeholder='Title', ng-model='editList.title', ng-minlength='4', ng-maxlength='50', required='')
                  small.error(ng-show='editListForm.title.$dirty && editListForm.title.$error.required')
                    | Title is required.
                  small.error(ng-show='editListForm.title.$error.minlength')
                    | Title is required to be at least 4 characters
                  small.error(ng-show='editListForm.title.$error.maxlength')
                    | Title cannot be longer than 50 characters
                .form-group
                  textarea#comment.form-control(name='description', rows='2', ng-model='editList.description', placeholder='Description', ng-maxlength='500')
                  small.error(ng-show='editListForm.description.$error.maxlength')
                    | Description cannot be longer than 500 characters
            .modal-footer
              table(width='100%')
                tr
                  td(align='left', width='100%')
                    button.btn.btn-danger.btn-sm(data-ng-click='deleteList(editList._id)' data-dismiss='modal', rel='tooltip' title='Delete Recommendation')
                      span.glyphicon.glyphicon-trash
                  td(align='right', width='100%')
                    button.btn.btn-success.btn-sm(type='submit', data-dismiss='modal', ng-disabled='editListForm.$invalid', ng-click='saveList()') Save
                  td(align='right', style='padding-left: 10px;')
                    button.btn.btn-default.btn-sm(type='button', data-dismiss='modal', ng-click='closeList()') Cancel
      // EditListItem Modal
      #editListItemForm.modal.fade(role='dialog', my-modal='')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Edit List Item
            .modal-body
              form(name='editListItemForm', role='form', novalidate='')
                p
                  ul.nav.nav-tabs
                    li.active
                      a(data-toggle='tab', href='#general' ng-click="selected = 'first'") Properties
                    li
                      a(data-toggle='tab', href='#additional' ng-click="selected = 'first'") Location
                .tab-content
                  #general.tab-pane.fade.in.active
                    .form-group
                      // title
                      input.form-control.input-md(name='title', type='text', placeholder='Title', ng-model='editListItem.title', ng-minlength='4', ng-maxlength='50', required='')
                      small.error(ng-show='editListitemForm.title.$dirty && editListItemForm.title.$error.required')
                        | Title is required.
                      small.error(ng-show='editListItemForm.title.$error.minlength')
                        | Title is required to be at least 4 characters
                      small.error(ng-show='editListItemForm.title.$error.maxlength')
                        | Title cannot be longer than 50 characters
                    .form-group
                      textarea#comment.form-control(name='description', rows='2', ng-model='editListItem.description', placeholder='Description', ng-maxlength='500')
                      small.error(ng-show='editListItemForm.description.$error.maxlength')
                        | Description cannot be longer than 500 characters
                    .form-group
                      // url
                      input.form-control.input-md(name='url', type='text', placeholder='Url', ng-model='editListItem.url', ng-minlength='4', ng-maxlength='255')
                      small.error(ng-show='editListItemForm.url.$error.minlength')
                        | Url is required to be at least 4 characters
                      small.error(ng-show='editListItemForm.url.$error.maxlength')
                        | Url cannot be longer than 255 characters
                  #additional.tab-pane.fade
                    .form-group
                      p(ng-if='lookedUpLocation.name') Current location: 
                        span.muted {{lookedUpLocation.name}}
                        a.listLink(ng-click='clearLocation(editListItem)') 
                          span.glyphicon.glyphicon-remove
                      .lookup
                        location-lookup(ng-model='lookedUpLocation', limit-to='4')
            .modal-footer
              table(width='100%')
                tr
                  td(align='right', width='100%')
                    button.btn.btn-success.btn-sm(type='submit', data-dismiss='modal', ng-disabled='editListItemForm.$invalid', ng-click='saveListItem()') Save
                  td(align='right', style='padding-left: 10px;')
                    button.btn.btn-default.btn-sm(type='button', data-dismiss='modal', ng-click='closeListItem()') Cancel
    include ./footer.jade


