extends ./layout.jade

block js
  script(src='/libs/fileUpload.js')
  script(src='/libs/cloudinary.js')
  script(src='/app/lists.js')
block body
  body(ng-controller='quokkaController')
    include ./navmenu.jade
    div(growl)
    .container
      p
        table(width='100%')
          tr
            td(valign='bottom')
              h3(style='\
              margin-top: 0px;\
              margin-bottom: 0px;') My Tops
            td(align='right')
              button.btn.btn-success.btn-sm(type='submit', data-ng-click='openAddList()', data-toggle='modal', data-target='#addListForm') Add List
      .panel-group
        .panel.panel-default(data-ng-repeat='list in lists')
          .panel-heading
            h4.panel-title
              .row
                table(style='width: 100%')
                  tr
                    td(align='left')
                      .col-md-12
                        strong
                          a.listTitle(data-toggle='collapse', data-ng-hide='list.editMode', href='#collapse{{list._id}}') {{ list.title }}
                    td(align='right')
                      .col-md-12
                        table
                          tr      
                            td
                              a.listLink(href='/lists/preview/{{ list._id }}', data-ng-click='share(list);',target='_blank' title="Share")
                                span.glyphicon.glyphicon-share-alt
                            td &nbsp;
                            td &nbsp;
                            td
                              a.listLink(data-ng-click='openEditList(list)', data-toggle='modal', data-target='#editListForm', title='Edit list')
                                span.glyphicon.glyphicon-pencil
                            td &nbsp;
                            td &nbsp;
                            td
                              a.listLink(data-toggle='collapse', href='#collapse{{list._id}}', title='Show items')
                                //span.glyphicon.glyphicon-tasks
                                i.fa.fa-list-ul
          .panel-collapse.collapse(id='collapse{{list._id}}')
            .panel.panel-default
              .panel-body(style='padding-bottom: 5px;')
                table(style='width: 100%')
                  tr
                    td(style='min-width:100px')
                      .show-image
                        img.img-thumbnail(ng-if='list.image', ng-src='{{list.image}}' style='width:100px')
                        img.img-thumbnail(ng-if='!list.image', src='http://dummyimage.com/200x100/595759/ffffff.png' style='width:100px') 
                        a.update(href="#" ngf-select='inlineUpload(list, $file)' ngf-max-size="20MB") 
                          span.glyphicon.glyphicon-pencil
                        a.delete(href="#" ng-click='removeImage(list)') 
                          span.glyphicon.glyphicon-remove
                        .progress(ng-if='showProgress')
                          .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='10', aria-valuemin='0', aria-valuemax='100', progressbar='', total='myTotal', current='myCurrent')
                    td(style='padding-left: 10px; width: 100%')
                      .div(inline-description-edit="list.description" on-save="updateInlineListDescription(list, list.description)" on-cancel="cancelEdit()")
                .panel-body(style='padding-top: 0px; padding-bottom: 5px;')
                .top5
                  ul.list-group(ng-sortable='sortConfig', style='margin-bottom: 0px;')
                    li.list-group-item(data-ng-repeat="item in list.items | orderBy: 'orderId'" style='padding-top: 5px; padding-bottom: 5px;')
                      table
                        tr
                          td(align='left' nowrap)
                            span.my-handle
                              i.fa.fa-bars
                            &nbsp;
                            &nbsp;
                          td(width='100%', align='left')
                            strong.list-group-item-heading
                              table(style='width: 100%')
                                tr
                                  td(style='width: 100%')
                                    .div(inline-title-edit="item.title" on-save="updateInlineItemTitle(item, item.title)" on-cancel="cancelEdit()")
                                  td &nbsp;
                                  td &nbsp;
                                  td
                                    div(ng-if='item.locationName')
                                        a.listLink(href='http://maps.google.com/maps?q=loc:{{item.location[1]}},{{item.location[0]}}&z=15', target='_blank' data-toggle='tooltip' title='Open location')
                                          span.glyphicon.glyphicon-map-marker
                                  td(ng-if='item.locationName') &nbsp;
                                  td(ng-if='item.locationName') &nbsp;
                                  td
                                    div(ng-if='item.url')
                                      a.listLink(href='{{item.url}}', target='_blank' data-toggle='tooltip' title='{{item.url}}') 
                                        span.glyphicon.glyphicon-link
                                  td(ng-if='item.url') &nbsp;
                                  td(ng-if='item.url') &nbsp;
                                  td
                                    a.listLink(data-ng-click='openEditListItem(list)', data-toggle='modal', data-target='#editListItemForm')
                                      span.glyphicon.glyphicon-pencil
                                  td &nbsp;
                                  td &nbsp;
                                  td
                                    a.listLink(data-ng-click='deleteListItem(item._id)' data-toggle='tooltip' title='Delete')
                                      span.glyphicon.glyphicon-remove
                            .list-group-item-text
                              .div(inline-description-edit="item.description" on-save="updateInlineItemDescription(item, item.description)" on-cancel="cancelEdit()")
                #list-form.row
                p
                  .col-sm-12(style='padding-left: 0px; padding-right: 0px;')
                    form(name='addItem', role='form', novalidate='')
                      table(width='100%', valign='top')
                        tr
                          td(width='100%')
                            input.form-control.input-md(name='title', type='text', placeholder='New item', ng-model='newListItem.title', ng-minlength='4', ng-maxlength='50', required='')
                            small.error(ng-show='addItem.title.$error.minlength && addItem.title.$dirty')
                              | Title is required to be at least 4 characters
                            small.error(ng-show='addItem.title.$error.maxlength && addItem.title.$dirty')
                              | Title cannot be longer than 50 characters
                          td(align='right', style='vertical-align:top; padding-left: 10px;')
                            button.btn.btn-success.btn-sm(ng-disabled='addItem.$invalid', type='submit', ng-click='createListItem(list)') Add Item
            .panel-footer
              table(width='100%')
                tr
                  td(width='3%')
                    span.glyphicon.glyphicon-tags  
                  td
                    tags-input(placeholder=' ', ng-model='list.ngTags', maxtags='4', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)', on-tag-clicked='tagClicked($tag)')
                  td(align='right' width='3%' style="padding-left: 10px;")
                    button.btn.btn-danger.btn-sm(data-ng-click='deleteList(list._id)') 
                      span.glyphicon.glyphicon-trash
      .loader(data-loading='') Loading...
      // Add List Modal
      #addListForm.modal.fade(role='dialog', my-modal='')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Add List
            .modal-body
              form(name='addListForm', role='form', novalidate='')
                .form-group
                  // NAME
                  input.form-control.input-md(name='title', type='text', placeholder='Title', data-ng-model='formData.title', ng-minlength='4', ng-maxlength='50', required='')
                  small.error(ng-show='addListForm.title.$dirty && addListForm.title.$error.required')
                    | Title is required.
                  small.error(ng-show='addListForm.title.$error.minlength')
                    | Title is required to be at least 4 characters
                  small.error(ng-show='addListForm.title.$error.maxlength')
                    | Title cannot be longer than 50 characters
                .form-group
                  textarea#comment.form-control(name='description', rows='2', data-ng-model='formData.description', placeholder='Description', ng-maxlength='500')
                  small.error(ng-show='addListForm.description.$error.maxlength')
                    | Description cannot be longer than 500 characters
            .modal-footer
              table(width='100%')
                tr
                  td(align='right', width='100%')
                    button.btn.btn-success.btn-sm(type='submit', data-dismiss='modal', ng-disabled='addListForm.$invalid', ng-click='createList()') Add
                  td(align='right', style='padding-left: 10px;')
                    button.btn.btn-default.btn-sm(type='button', data-dismiss='modal', ng-click='closeList()') Cancel
      // Edit List Modal
      #editListForm.modal.fade(role='dialog', my-modal='')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Edit List
            .modal-body
              form(name='editListForm', role='form', novalidate='')
                .form-group
                  // NAME
                  input.form-control.input-md(name='title', type='text', placeholder='Title', ng-model='editList.title', ng-minlength='4', ng-maxlength='50', required='')
                  small.error(ng-show='editListForm.title.$dirty && editListForm.title.$error.required')
                    | Title is required.
                  small.error(ng-show='editListForm.title.$error.minlength')
                    | Title is required to be at least 4 characters
                  small.error(ng-show='editListForm.title.$error.maxlength')
                    | Title cannot be longer than 50 characters
                .form-group
                  textarea#comment.form-control(name='description', rows='2', ng-model='editList.description', placeholder='Description', ng-maxlength='500')
                  small.error(ng-show='editListForm.description.$error.maxlength')
                    | Description cannot be longer than 500 characters
                .form-group
                    table(width='100%')
                      tr
                        td(align='left', width='100%')
                          div(ng-if='file')
                            img(ngf-thumbnail="file" width='100')
                          div(ng-if='editList.image')
                            img.img-thumbnail(ng-src='{{editList.image}}')
                        td(align='right', style='padding-left: 10px;')
                          button.btn.btn-success.btn-sm(ngf-select='upload($file)' ngf-max-size="20MB") Select image
                        td(align='right', style='padding-left: 10px;')
                          div(ng-if='editList.image != null || file')
                            button.btn.btn-danger.btn-sm(ng-click='removeImage(editList)') Remove
            .modal-footer
              table(width='100%')
                tr
                  td(align='right', width='100%')
                    button.btn.btn-success.btn-sm(type='submit', data-dismiss='modal', ng-disabled='editListForm.$invalid', ng-click='saveList()') Save
                  td(align='right', style='padding-left: 10px;')
                    button.btn.btn-default.btn-sm(type='button', data-dismiss='modal', ng-click='closeList()') Cancel
      // EditListItem Modal
      #editListItemForm.modal.fade(role='dialog', my-modal='')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Edit List Item
            .modal-body
              form(name='editListItemForm', role='form', novalidate='')
                p
                  ul.nav.nav-tabs
                    li.active
                      a(data-toggle='tab', href='#general' ng-click="selected = 'first'") Properties
                    li
                      a(data-toggle='tab', href='#additional' ng-click="selected = 'first'") Location
                .tab-content
                  #general.tab-pane.fade.in.active
                    .form-group
                      // title
                      input.form-control.input-md(name='title', type='text', placeholder='Title', ng-model='editListItem.title', ng-minlength='4', ng-maxlength='50', required='')
                      small.error(ng-show='editListitemForm.title.$dirty && editListItemForm.title.$error.required')
                        | Title is required.
                      small.error(ng-show='editListItemForm.title.$error.minlength')
                        | Title is required to be at least 4 characters
                      small.error(ng-show='editListItemForm.title.$error.maxlength')
                        | Title cannot be longer than 50 characters
                    .form-group
                      textarea#comment.form-control(name='description', rows='2', ng-model='editListItem.description', placeholder='Description', ng-maxlength='500')
                      small.error(ng-show='editListItemForm.description.$error.maxlength')
                        | Description cannot be longer than 500 characters
                    .form-group
                      // url
                      input.form-control.input-md(name='url', type='text', placeholder='Url', ng-model='editListItem.url', ng-minlength='4', ng-maxlength='255')
                      small.error(ng-show='editListItemForm.url.$error.minlength')
                        | Url is required to be at least 4 characters
                      small.error(ng-show='editListItemForm.url.$error.maxlength')
                        | Url cannot be longer than 255 characters
                  #additional.tab-pane.fade
                    .form-group
                      p(ng-if='lookedUpLocation.name') Current location: 
                        span.muted {{lookedUpLocation.name}}
                        a.listLink(ng-click='clearLocation(editListItem)') 
                          span.glyphicon.glyphicon-remove
                      .lookup
                        location-lookup(ng-model='lookedUpLocation', limit-to='4')
            .modal-footer
              table(width='100%')
                tr
                  td(align='right', width='100%')
                    button.btn.btn-success.btn-sm(type='submit', data-dismiss='modal', ng-disabled='editListItemForm.$invalid', ng-click='saveListItem()') Save
                  td(align='right', style='padding-left: 10px;')
                    button.btn.btn-default.btn-sm(type='button', data-dismiss='modal', ng-click='closeListItem()') Cancel
    include ./footer.jade


