extends ./layout.jade

block body
  body
    include ./navmenu.jade
    .container
      .jumbotron(style='\
      padding-left: 20px;\
      padding-right: 20px;\
      ')
        h1 Quokka. Share your best.
        p
          | Quokka helps you to create, manage and share your 'bests' and 'tops' with the world.
        .row
          .col-sm-12
            a.btn.btn-primary.btn-block(href='/auth/facebook')
              i.fa.fa-facebook
              |   Sign in with Facebook
    include ./footer.jade