div(ng-if='profile.facebookId')
  nav.navbar.navbar-default(style='margin-bottom: 0px;')
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/') 
          span(style='font-weight: bold;') Recomen
          | Do
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='/')
              i.fa.fa-thumbs-up
              |  Recommendations
          li
            a(href='/mybookmarks')
              span.glyphicon.glyphicon-bookmark
              |  Bookmarks
          li
            form(ng-submit="searchList(searchStr)")
              input(type='search', placeholder='Search', ng-model='searchStr')
              //&nbsp;
              //a(href='/search', style='color: white') 
                |or use tags...
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/users/profile/{{profile._id}}')
              img.img-circle(width='25px', ng-src='http://graph.facebook.com/{{profile.facebookId}}/picture?type=square')
              | &nbsp;&nbsp;{{profile.name}}
          li
            a(href='/users/logout')
              span.glyphicon.glyphicon-log-in
              | &nbsp;&nbsp;Logout
div(ng-if='!profile.facebookId')
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          span(style='font-weight: bold;') Recomen
          | Do
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/auth/facebook')
              | Login with 
              i.fa.fa-facebook