extends ./layout.jade
block js
  script(src='/app/search.js')
  script(src='/libs/fancybox.js')
  script.
    $(document).ready(function(){
        $("body").tooltip({ selector: '[rel=tooltip]' });
    });
block body
  body(ng-controller='searchController', ng-init='init(#{JSON.stringify(searchTag)}, #{JSON.stringify(searchStr)})')
    include ./navmenu.jade
    div(growl)
    .container
      p
      h3(style='\
      margin-top: 0px;\
      margin-bottom: 15px;') Search
      p
        #list-form.row
          .col-sm-12
            form
              table(width='100%')
                tr  
                  td(width='100%')
                    p
                      input.form-control.input-md(type='text', placeholder='Start typing...', ng-model='formData.str', ng-change='searchListKey()')
                tr
                  td(width='100%')
                    tags-input(placeholder='... or add tags', ng-model='searchTags', maxtags='10', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      .panel-group
        .panel.panel-default(data-ng-repeat='list in lists | limitTo: 10')
          .panel-heading
            .row
              table(style='width: 100%')
                tr
                  td(align='left')
                    .col-md-12(style="padding-right: 0px;")
                      .image-cropper-30
                        a.fancybox(ng-if='list.image' class="fancybox" rel="{{list._id}}" ng-href="{{list.image}}" ng-attr-title="{{list.title}}")
                          img.img-round.rounded(ng-if='list.image', ng-src='{{list.image}}' style='width:30px')
                        img.img-round.rounded(ng-if='!list.image', src='http://dummyimage.com/70x70/5e5e5e/ffffff.png' style='width:30px') 
                  td(align='left' style='width: 100%')
                    .col-md-12
                      a.listTitle(data-toggle='collapse', href='#collapse{{list._id}}') {{ list.title }}
                  td(align='right')
                    .col-md-12
                      table
                        tr
                          td
                            a(href='/users/profile/{{list.userId._id}}')
                              img.img-circle(width='25px', ng-src='http://graph.facebook.com/{{list.userId.facebookId}}/picture?type=square', rel='tooltip', title='{{list.userId.name}}')
                          td &nbsp;
                          td &nbsp;
                          td(style='white-space:nowrap')
                            a.listLink(data-ng-click='addBookmark(list)', href='javascript:;' rel='tooltip', title='Add Bookmark')
                              span.glyphicon.glyphicon-bookmark
                          td &nbsp;
                          td &nbsp;
                          td(style='white-space:nowrap')
                            a.listLink(href='/lists/preview/{{list._id}}',target='_blank' rel='tooltip' title='Share') 
                              span.glyphicon.glyphicon-share-alt
          .panel-collapse.collapse(id='collapse{{list._id}}')
            .panel.panel-default
              .panel-body
                 .top5
                  div(ng-if='list.description != null')
                    table
                      tr
                        td(style='min-width:70px')
                          .show-image
                            .image-cropper-100
                              a.fancybox(ng-if='list.image' class="fancybox" rel="{{list._id}}" ng-href="{{list.image}}" ng-attr-title="{{list.title}}")
                                img.img-round.rounded(ng-if='list.image', ng-src='{{list.image}}' style='width:70px')
                              img.img-round.rounded(ng-if='!list.image', src='http://dummyimage.com/70x70/5e5e5e/ffffff.png' style='width:70px') 
                        td(style='padding-left: 10px; width: 100%')
                          p
                            {{list.description}}
                  p
                    ul.list-group(style='margin-bottom: 0px;')
                      li.list-group-item(data-ng-repeat="item in list.items | orderBy: 'orderId' | limitTo: 5")
                        strong.list-group-item-heading
                          table
                            tr
                              td(width='100%', align='left')
                                | {{item.title}}
                              td &nbsp;
                              td &nbsp;
                              td
                                div(ng-if='item.locationName')
                                    a.listLink(href='http://maps.google.com/maps?q=loc:{{item.location[1]}},{{item.location[0]}}&z=15', target='_blank' rel='tooltip' title='Open location')
                                      span.glyphicon.glyphicon-map-marker
                              td(ng-if='item.locationName') &nbsp;
                              td(ng-if='item.locationName') &nbsp;
                              td
                                div(ng-if='item.url')
                                  a.listLink(href='{{item.url}}', target='_blank' rel='tooltip' title='Open url') 
                                    span.glyphicon.glyphicon-link
                        list-group-item-text
                          table
                            tr
                              td(style='min-width:50px; vertical-align: top;')
                                .show-image
                                  .image-cropper-70
                                    a.fancybox(ng-if='item.image' class="fancybox" rel="{{list._id}}" ng-href="{{item.image}}" ng-attr-title="{{item.title}}")
                                      img.img-round.rounded(ng-if='item.image', ng-src='{{item.image}}' style='width:50px;')
                                    img.img-round.rounded(ng-if='!item.image', src='http://dummyimage.com/50x50/5e5e5e/ffffff.png' style='width:50px;') 
                              td(style='vertical-align: top;')
                                {{item.description}}
            .panel-footer
              table(width='100%')
                tr
                  td(width='4%')
                    span.glyphicon.glyphicon-tags  
                  td(width='100%')
                    tags-input(ng-model='list.ngTags', ng-disabled='true', maxtags='4', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      .loader(data-loading='') Loading...
    include ./footer.jade