extends ./layout.jade

block body
  body(ng-controller='searchController')
    include ./navmenu.jade
    .container
      h3(style='\
      margin-top: 0px;\
      margin-bottom: 15px;') Search
      #list-form.row
        .col-sm-12
          form
            table(width='100%')
              tr  
                td(width='100%')
                  input.form-control.input-md(type='text', placeholder='Start typing...', ng-model='formData.str', ng-change='searchList()')
                  br
              tr
                td(width='100%')
                  tags-input(placeholder='Tags', ng-model='searchTags', maxtags='10', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      br
      .panel-group
        .panel.panel-default(data-ng-repeat='list in lists | limitTo: 10')
          .panel-heading
            h4.panel-title
              .row
                table(style='width: 100%')
                  tr
                    td(align='left')
                      .col-md-12
                        strong
                          a(data-toggle='collapse', href='#collapse{{list._id}}') {{ list.title }}
                    td(align='right')
                      .col-md-12
                        table
                          tr
                            td
                              a(href='')
                                img.img-circle(width='25px', ng-src='http://graph.facebook.com/{{list.userId.facebookId}}/picture?type=square')
                            td(style='white-space:nowrap')
                              a(data-ng-click='addBookmark(list)', href='javascript:;')
                                span.glyphicon.glyphicon-bookmark
          .panel-collapse.collapse(id='collapse{{list._id}}')
            .panel.panel-default
              .panel-body
                p
                  em {{list.description}}
                p
                  ul.list-group
                    li.list-group-item(data-ng-repeat="item in list.items | orderBy: 'orderId' | limitTo: 5")
                      table
                        tr
                          td(width='100%', align='left')
                            | {{item.title}}
            .panel-footer
              table(width='100%')
                tr
                  td(width='4%')
                    span.glyphicon.glyphicon-tags  
                  td(width='100%')
                    tags-input(ng-model='list.ngTags', ng-disabled='true', maxtags='4', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      .loader(data-loading='') Loading...
    include ./footer.jade