extends ./layout.jade
block js
  script(src='/app/search.js')
block body
  body(ng-controller='searchController', ng-init='init(#{JSON.stringify(searchTag)})')
    include ./navmenu.jade
    div(growl)
    .container
      p
      h3(style='\
      margin-top: 0px;\
      margin-bottom: 15px;') Search
      p
        #list-form.row
          .col-sm-12
            form
              table(width='100%')
                tr  
                  td(width='100%')
                    input.form-control.input-sm(type='text', placeholder='Start typing...', ng-model='formData.str', ng-change='searchList()')
                    br
                tr
                  td(width='100%')
                    tags-input(placeholder='Tags', ng-model='searchTags', maxtags='10', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      .panel-group
        .panel.panel-default(data-ng-repeat='list in lists | limitTo: 10')
          .panel-heading
            h4.panel-title
              .row
                table(style='width: 100%')
                  tr
                    td(align='left')
                      .col-md-12
                        strong
                          a(data-toggle='collapse', href='#collapse{{list._id}}') {{ list.title }}
                    td(align='right')
                      .col-md-12
                        table
                          tr
                            td
                              a(href='/users/profile/{{list.userId._id}}')
                                img.img-circle(width='25px', ng-src='http://graph.facebook.com/{{list.userId.facebookId}}/picture?type=square', data-toggle='tooltip', title='{{list.userId.name}}')
                            td &nbsp;
                            td &nbsp;
                            td(style='white-space:nowrap')
                              a.listLink(data-ng-click='addBookmark(list)', href='javascript:;' data-toggle='tooltip', title='Add to bookmarks')
                                span.glyphicon.glyphicon-bookmark
                            td &nbsp;
                            td &nbsp;
                            td(style='white-space:nowrap')
                              a.listLink(href='/lists/preview/{{list._id}}',target='_blank' data-toggle='tooltip' title='Share list') 
                                span.glyphicon.glyphicon-share-alt
          .panel-collapse.collapse(id='collapse{{list._id}}')
            .panel.panel-default
              .panel-body
                 .top5
                  div(ng-if='list.description != null')
                    table
                      tr
                        td
                          img.img-thumbnail(ng-if='list.image', ng-src='{{list.image}}' style='width:70px') 
                        td(style='padding-left: 10px;')
                          p
                            {{list.description}}
                  p
                    ul.list-group(style='margin-bottom: 0px;')
                      li.list-group-item(data-ng-repeat="item in list.items | orderBy: 'orderId' | limitTo: 5")
                        strong.list-group-item-heading
                          table
                            tr
                              td(width='100%', align='left')
                                | {{item.title}}
                        p.list-group-item-text
                          | {{item.description}}
            .panel-footer
              table(width='100%')
                tr
                  td(width='4%')
                    span.glyphicon.glyphicon-tags  
                  td(width='100%')
                    tags-input(ng-model='list.ngTags', ng-disabled='true', maxtags='4', on-tag-added='tagAdded($tag)', on-tag-removed='tagRemoved($tag)')
      .loader(data-loading='') Loading...
    include ./footer.jade