<div>
  <table style="width: 100%">
  <tr>
  <td>
    <textarea rows="1" auto-grow style="width:100%;" type="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode"/>
  </td>
  </tr>
  <tr>
  <td>
  <a class="inlineSave" href="" ng-click="save()" ng-show="editMode">Save</a>
  <a class="inlineCancel" href="" ng-click="cancel()" ng-show="editMode">Cancel</a>
  </td>
  </tr>
  </table>
  <span ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = false">
    <span ng-if="!isEmpty(model)" ng-hide="editMode" ng-click="edit()">{{model}}</span>
    <span ng-if="isEmpty(model)" ng-hide="editMode" ng-click="edit()"><i>Add list image and description...<i></span>
    <a class="listLink" ng-show="showEdit" ng-click="edit()"><span class="glyphicon glyphicon-pencil"></a>
  </span>
</div>